html {font-size: 10px; 
    font-family: "Open Sans", sans-serif; 
    background-color: #000000;
  }
header {
  

}

.contanier-foto {
    background: #e0189e59;
    border: 5px solid azure;
    padding: 1rem;
    position: relative;
    margin: 10rem 10rem auto;
    width: 100vw;   
}


.competencias {
    color: azure;
    font-size: 2.25rem;
    line-height: 2;
    letter-spacing: 0.25rem;
    
    
}