html {
    font-size: 1rem; 
    font-family: "Open Sans", sans-serif; 
    background-color: #000000;
  }

body {      
  margin: 2rem 2rem;
}  

.contanier-da-foto {
    background: #e0189e59;
    border: 5px solid azure;
    padding: 1rem;
    position: relative;
    margin: 5%;    
}

.contanier-titulo, .competencias {
    color: azure;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.0625rem;
    text-align: center;
    text-shadow: 3px 3px 1px #ad388659;     
} 